PORT=4000
DB_URL=mongodb://localhost:27017/url_shortener
REDIS_URL=redis://localhost:6379
REDIS_COUNTER_KEY=url_shortener_counter
BASE_URL=http://localhost:4000
NODE_ENV=development
ANALYTICS_QUEUE=analytics_queue
JWT_ACCESS_SECRET=access_secret_123
JWT_REFRESH_SECRET=refresh_secret_123
ACCESS_TOKEN_EXPIRE=10m
REFRESH_TOKEN_EXPIRE=7d
URL_EXPIRY_SCHEDULER=url_expiry_scheduler
ANALYTICS_DEAD_LETTER_QUEUE=analytics_dead_letter_queue
AGGREGATION_ANALYTICS_SCHEDULER=aggregation_analytics_scheduler